.calender {
  display: flex;
  margin-left: 60px;
  text-align: center;
}

.date {
  margin-right: 23px;
}

.date > h5 {
  font-size: 14px;
}

.date > h6 {
  font-size: 9px;
  margin-bottom: 15px;
}

.dgreen {
    background: #18515c;
    border-radius: 20px;
   width: 28px;
   padding-top:5px;
   padding-bottom:5px;
   
}
.lgreen{
    background: #64d1a8;
    border-radius: 20px;
   width: 28px;
   padding-top:5px;
   padding-bottom:5px;
}
.lblue{
  background: #7885a5;
 
   border-radius: 20px;
   width: 28px;
   padding-top:5px;
   padding-bottom:5px;
}
.lred{
    background:#ff7167;
    border-radius: 20px;
    width: 28px;
    padding-top:5px;
    padding-bottom:5px;
}
