.container {
    margin: 50px;
    margin-left: 100px;
  
    border-radius: 10px;
    /* eraser */
  
    background: #c7968b;
  }
  
  h1 {
    text-align: center;
  }
  
  .model {
    margin-left: 100px;
  }
  
  .circle {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
    z-index: 10;
    border-color: white;
  }
  
  ul {
    display: flex;
    list-style-type: none;
  }
  
  ul > li {
    margin-right: 35px;
    color: white;
    font-family: "Space Mono";
    background-position: 100%;
  }
  
  .reference {
    display: flex;
    -ms-flex-align: end;
    text-align: right;
    width:70%;
  }
  